<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  </head>
  <body class="body">
    <div class= "container">
        <div class="card col-lg-12 shadow-sm">
          <form action="/" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Get Weather">
          </form>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
        </div>
      <div class="row">
        <div class=" col-lg-5">
          <div class=" col-lg-4 bold h1">Lisbon</div>
          <div class="card col-lg-4 shadow-sm">
            <% if(weather !== null){ %>
            <p><%= weather %></p>
            <% } %>
          </div>
        </div>
        <div class=" col-lg-7">
          <div class="row">
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
              <% if(tempDay1 !== null){ %>
              <p><%= tempDay1 %></p>
              <% } %>
            </div></div>
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
                <% if(tempDay2 !== null){ %>
                  <p><%= tempDay2 %></p>
                  <% } %>
            </div></div>
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
                <% if(tempDay3 !== null){ %>
                  <p><%= tempDay3 %></p>
                  <% } %>
            </div></div>
          </div>
          <div class="row">
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
                <% if(tempDay4 !== null){ %>
                  <p><%= tempDay4 %></p>
                  <% } %>
            </div></div>
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
                <% if(tempDay5 !== null){ %>
                  <p><%= tempDay5 %></p>
                  <% } %>
            </div></div>
            <div class="card col-lg-4 shadow-sm "><div><h2 class="text-center">Day12</h2></div><hr><div>IMAGE</div><div>
                <% if(tempDay6 !== null){ %>
                  <p><%= tempDay6 %></p>
                  <% } %>
            </div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
